table {
  width: 90%;
  margin: auto;
}


.tittle {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.mat-column-function {
  text-align: right;
  justify-content: flex-end;
}