<div class="tittle">
  <h2>Lista de Observaciones</h2>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.state ? 'Activo' : 'Desactivo'}} </td>
  </ng-container>

  <ng-container matColumnDef="function">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [disabled]="element.state" (click)="active(element.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
      </button>
      <button mat-button [disabled]="!element.state" (click)="desactive(element.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>