<div class="tittle">
  <h2>Lista de Residentes</h2>
</div>

<div class="row gridFilters">
  <mat-form-field class="filters">
    <mat-label>Filtros</mat-label>
    <mat-select [formControl]="toppings" multiple (selectionChange)="changeSelect($event)" >
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="search">
    <mat-label>Buscar</mat-label>
    <span matPrefix><mat-icon matSuffix>search</mat-icon> &nbsp;</span>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef> Rut </th>
    <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- departamento Column -->
  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> N° {{element.dep.num}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-progress-bar class="bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
