<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-toolbar class="toolbarColor">Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="role == 'BUILD' || role == 'ADMIN'" mat-list-item [routerLink]="'registrarVisita'" routerLinkActive="active-list-item">
        <mat-icon >group</mat-icon>
        Registrar Visita 
      </a>
      <a *ngIf="role == 'BUILD' || role == 'ADMIN'" mat-list-item [routerLink]="'registrarEncomienda'" routerLinkActive="active-list-item">
        <mat-icon >business_center</mat-icon>
        Registrar Encomienda 
      </a>
      <a *ngIf="role == 'ADMIN'" mat-list-item [routerLink]="'registrarPersona'" routerLinkActive="active-list-item">
        <mat-icon >perm_identity</mat-icon>
        Registrar Residente 
      </a>
      <a *ngIf="role == 'SUPERADMIN'" mat-list-item [routerLink]="'crearEdificios'" routerLinkActive="active-list-item">
        <mat-icon >apartment</mat-icon>
        Crear Edificio 
      </a>
      <a *ngIf="role == 'SUPERADMIN'" mat-list-item [routerLink]="'crearDepartamentos'" routerLinkActive="active-list-item">
        <mat-icon >apartment</mat-icon>
        Crear Departamento 
      </a>
      <a *ngIf="role == 'SUPERADMIN'" mat-list-item [routerLink]="'crearUsuarioAdmin'" routerLinkActive="active-list-item">
        <mat-icon >perm_identity</mat-icon>
        Crear Usuario Admin
      </a>
      <a *ngIf="role == 'ADMIN'" mat-list-item [routerLink]="'crearConserjes'" routerLinkActive="active-list-item">
        <mat-icon >perm_identity</mat-icon>
        Crear Concerje
      </a>
      <a *ngIf="role == 'ADMIN'" mat-list-item [routerLink]="'asignarResidentes'" routerLinkActive="active-list-item">
        <mat-icon >perm_identity</mat-icon>
        Asignar Residentes
      </a>
      <a *ngIf="role == 'BUILD' || role == 'ADMIN'" mat-list-item [routerLink]="'listaVisitas'" routerLinkActive="active-list-item">
        <mat-icon >view_list</mat-icon>
        Lista Visitas 
      </a>
      <a *ngIf="role == 'BUILD' || role == 'ADMIN'" mat-list-item [routerLink]="'listaEncomiendas'" routerLinkActive="active-list-item">
        <mat-icon >view_list</mat-icon>
        Lista Encomiendas 
      </a>
      <a *ngIf="role == 'ADMIN'" mat-list-item [routerLink]="'listaPersonas'" routerLinkActive="active-list-item"> 
        <mat-icon >apartment</mat-icon>
        Lista Residentes 
      </a>
      <a *ngIf="role == 'ADMIN'" mat-list-item [routerLink]="'listaUsuariosEdificio'" routerLinkActive="active-list-item">
        <mat-icon >view_list</mat-icon>
        Lista Usuarios  
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar class="toolbarColor">
    <mat-toolbar-row>
      <button *ngIf="token != null" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      </button>
      <img class="imgsize" src="assets/apartment.png">
      <span class="example-spacer"></span>
      <button *ngIf="token != null" mat-button (click)="signOut(drawer)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
        Cerrar Sesion
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</mat-drawer-container>