<form class="example-form" [formGroup]="personForm" (ngSubmit)="onSaveForm()">
  <div class="tittle">
    <h2>Registrar Residente</h2>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Rut</mat-label>
    <span matPrefix><mat-icon matSuffix>person</mat-icon> &nbsp;</span>
    <input matInput placeholder="Rut" formControlName="rut" formatRut required>
    <mat-error *ngIf="rut.errors?.required">
      Rut es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="rut.errors?.invalidRut">
      Rut es <strong>invalido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <span matPrefix><mat-icon matSuffix>person</mat-icon> &nbsp;</span>
    <input matInput placeholder="Nombre" formControlName="name" required>
    <mat-error *ngIf="name.errors?.required">
      Nombre es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Apellido</mat-label>
    <span matPrefix><mat-icon matSuffix>person</mat-icon> &nbsp;</span>
    <input matInput placeholder="Apellido" formControlName="lastName" required>
    <mat-error *ngIf="lastName.errors?.required">
      Apellido es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <span matPrefix><mat-icon matSuffix>email</mat-icon> &nbsp;</span>
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="email.errors?.required">
      Email es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors?.pattern">
      Email es <strong>no valido</strong>
    </mat-error>
    <mat-error *ngIf="email.errors?.minlength">
      Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Telefono</mat-label>
    <span matPrefix> <mat-icon matSuffix>phone</mat-icon> +569 &nbsp;</span>
    <input matInput placeholder="Telefono" formControlName="phone" mask="9999 9999" required>
    <mat-error *ngIf="phone.errors?.required">
      Telefono es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Departamento</mat-label>
    <span matPrefix><mat-icon matSuffix>apartment</mat-icon> &nbsp;</span>
    <input matInput placeholder="Departamento" formControlName="dep" required>
    <mat-error *ngIf="dep.errors?.required">
      Departamento es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <button class="btn" type="submit" [disabled]="!personForm.valid && !loading" mat-raised-button>
    <p *ngIf="!loading">Ingresar</p>
    <mat-spinner class="spinner" diameter="20" *ngIf="loading"></mat-spinner>
  </button>
</form>

