.example-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 10;
  align-items: center;
  text-align: center;
  margin: auto;
}
.example-full-width {
  width: 90%;
  padding: 15px;
}

.btn {
  width: 60%;
  height: 50px;
  align-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(109, 183, 246 );
  margin-top: 5%;
  margin-bottom: 10%;
}

.spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}

p{
  margin: 0;
  color: white
}

.mat-raised-button[disabled][disabled]{
  background-color: rgb(168, 204, 235);
}

.tittle {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgsize {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}